name: Deploy

on:
  push:
    branches:
      - chore-gh-actions-184638363
  pull_request:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: ${{matrix.node-version}}
        cashe: 'npm'
    - name: Install dependencies
      run: npm install
    - name: Run tests 
      run: npm run test --if-present
    # - name: Build and deploy the app to production
    #   run: npm build